/*
main.css  - style sheet for main windows of openmat-webui

Copyright 2020 Thies Hecker

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

.wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(10px, auto);
  font-family: Arial, Helvetica, sans-serif;
}

.head_menu{
  grid-column: 1 / 2;
  grid-row: 1;
  font-size: 36px;
/*  font-family: Arial, Helvetica, sans-serif;*/
}

.active_bar{
  grid-column: 1 / 2;
  grid-row: 2;
}

#tab_widget{
  grid-column: 1 / 2;
  grid-row: 3;
}